{% load menu_tags %}

<header>
  <div class="contact-banner green darken-3">
    <div class="container">
      <address>
        <p class="white-text">Mississippi's Best Kept Secret</p>
        <span class="pipe white-text">|</span>
        <a class="white-text" href="tel:6017498142">(601) 749-8142</a>
        <span class="pipe white-text">|</span>
        <span class="white-text">Contact Us Today!</span>
      </address>
    </div>
  </div>
  <nav class="white">
    <div class="container">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo grey-text text-darken-3">Clearwater RV Park</a>
        <a href="#" data-target="mobile" class="sidenav-trigger right">
          <i class="material-icons dp48 grey-text text-darken-3">menu</i>
        </a>
        {% main_menu max_levels=1 template="menus/material_main_menu.html" %}
      </div>
    </div>
  </nav>
  {% main_menu max_levels=1 template="menus/material_main_mobile_menu.html" %}
</header>