{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/rates_page.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="center-align">Rates</h1>
        <div class="col s12 l6">
            <p class="rates-body">
                All rates are based on 1 RV with 2 adults & 2 children under 12 per site with full hookup and includes 7% sales tax.
            </p>
            <ul>
                <li>$3.00/additional adult or child per night.</li>
                <li>No discounts applied for natural disasters.</li>
            </ul>

        </div>
        <div class="col s12 l6">
            <ul class="tabs">
                <li class="tab col"><a href="#daily">DAILY</a></li>
                <li class="tab col"><a href="#weekly">WEEKLY</a></li>
                <li class="tab col"><a href="#monthly">MONTHLY</a></li>
                <li class="tab col"><a href="#snowbirds">SNOWBIRDS</a></li>
                <li class="tab col"><a href="#seasonal">SEASONAL</a></li>
            </ul>
            <div id="daily" class="col s12">Test 1</div>
            <div id="weekly" class="col s12">Test 2</div>
            <div id="monthly" class="col s12">Test 4</div>
            <div id="snowbirds" class="col s12">Test 4</div>
            <div id="seasonal" class="col s12">Test 4</div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    var tab = document.querySelector('.tabs');
    var instance = M.Tabs.init(tab);
</script>
{% endblock %}