{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/about_page.css' %}">
{% endblock %}

{% block content %}
<article>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="center-align green-text text-darken-3 main-title">- Our Mission -</h1>
                <p class="center-align ">{{ page.our_mission_text }}</p>
                <h2 class="center-align grey-text text-darken-2 main-subtitle">About</h2>
                <div class="main-text">
                    <img src="{% static 'imgs/owner.jpeg' %}" alt="Sonny Oliver" class="left responsive-img">
                    {{ page.main_content|linebreaks }}
                </div>
            </div>
        </div>
    </div>
</article>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/about_page.js' %}"></script>
{% endblock %}