.subtitle {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 2.5rem;
}

.card-image img {
  object-fit: cover;
  object-position: center;
  height: 100%;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 512px) {
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .content .card.horizontal {
    flex-direction: column;
  }

  .content .card.horizontal .card-image {
    /* height: 250px; */
    max-width: 100%
  }

  .subtitle {
    margin-top: 0;
    font-size: 1.3rem;
  }
}